body {
    background-color: #fef3c7;
	color: #d97706;
	font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
	text-align: center;
	justify-content: center;
}

/* link appearance */
a {
  color: #fef3c7;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* hovering over link */
a:hover {
  background-color: #fef3c7;
  color: #92400e;
}

ul {
  list-style-type: none; /* Remove bullets */
}
