body {
    background-color: #fef3c7;
	color: #d97706;
	font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
	text-align: center;
	justify-content: center;
}

/* unvisited link */
a:link {
  color: #f1f5f9;
}

/* visited link */
a:visited {
  color: #fef3c7;
}

ul {
  list-style-type: none; /* Remove bullets */
}
