{{!-- Styling for the footer, consistent across all pages --}}
<footer style="background-color: #d97706; color: #fef3c7; width: 100%; height: 10%; bottom: 0; position: absolute; display: flex; justify-content: center; align-items: center;">
    <p>&copy; COS 498 2025 Wild West Forum; Sarah Turmel</p>
</footer>
