{{!-- Styling for the header and navigation bar, consistent for all pages --}}
<header style="background-color: #d97706; color: #fef3c7; height: 150px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1 style="margin: 0px">{{title}}</h1>
	<p>~</p>
    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
	    <a href="/comments">Comments</a>
	    <a href="/comment/new">New Comment Form</a>
        <a href="/profile">Profile</a>
    </nav>
</header>
