
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments page</title>
<link rel="stylesheet" href="/styles.css">
</head>
<body>
    {{> header title="Comments" }}

	{{!-- Display the comments, as well as the new comment button if the user is logged in --}}    
    <h2>List of all comments</h2>
	<p>
        {{#if user.loggedIn}}
		<form method="GET" action="/comment/new" style="display: inline;">
            <button type="submit">Create New Comment</button>
        </form>
        {{/if}}
    </p>    
	<p><a href="/">Home</a></p>
    <ul id="dynamic-list"></ul> <!-- Placeholder for the list -->
    <script>
        const comments = {{{ comments }}};
        const list = document.getElementById("dynamic-list");

        comments.forEach(item => {
            const listItem = document.createElement("li");
            listItem.textContent = `${item.body} - ${item.author}, ${item.timeposted}`;
            listItem.style.color = item.color;
            list.appendChild(listItem);
        });
    </script>
{{> footer}}
</body>
</html>

