
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Wild West</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	{{> header title="Welcome to the Wild West"}}    
    <h2>Current User Information</h2>    
<p><strong>Name:</strong> {{user.name}}</p>
    <p><strong>Status:</strong> {{#if user.isLoggedIn}}Logged In{{else}}Guest{{/if}}</p>
    {{#if user.isLoggedIn}}
    <p><strong>Login Time:</strong> {{user.loginTime}}</p>
    <p><strong>Visit Count:</strong> {{user.visitCount}}</p>
    {{/if}}
    
    <p>
        {{#if user.isLoggedIn}}
            <form method="POST" action="/logout" style="display: inline;">
                <button type="submit">Logout</button>
            </form>
        {{/if}}
</p>
{{> footer }}
</body>
</html>

