
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Wild West</title>
<link rel="stylesheet" href="/styles.css">
</head>
<body>
	{{> header title="Login to Wild West"}}
	{{#if error}}
  <script>alert('{{error}}');</script>
{{/if}}
    
    <form method="POST" action="/login">
        <p>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required>
        </p>
        
        <p>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required>
        </p>
        
        <p>
            <button type="submit">Login</button>
            <a href="/">Cancel</a>
        </p>
    </form>
    
    {{#if error}}
    <p style="color: red;">Please enter both username and password.</p>
    {{/if}}
    {{> footer}}
</body>
</html>

