
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment Form</title>
<link rel="stylesheet" href="/styles.css">
</head>
<body>
    {{> header title="New Comment Form" }}

	{{!-- If there is an error alert the user, and display the new comment box for the user to fill in --}}
	{{#if error}}
  <script>alert('{{error}}');</script>
{{/if}}    
    <h2>Use the form below to create a comment!</h2>
    <form method="POST" action="/comment">
        <p>
            <label for="text">Enter comment:</label><br>
            <input type="text" id="text" name="text" required>
        </p>
        <p>
            <button type="submit">Post</button>
            <a href="/comments"><button>Cancel</button></a>
        </p>
    </form>
    {{> footer}}
</body>
</html>

