<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register with Wild West</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
    {{> header title="Register with Wild West"}}

	{{!-- If there is an error, alert the user, and display the registration form --}}
	{{#if error}}
  <script>alert('{{error}}');</script>
{{/if}}
    <form method="POST" action="/register">
        <p>
            <label for="username">Make a Username:</label><br>
            <input type="text" id="username" name="username" required>
        </p>

        <p>
            <label for="password">Make a Password:</label><br>
            <input type="password" id="password" name="password" required>
        </p>

        <p>
            <button type="submit">Login</button>
            <a href="/"><button>Cancel</button></a>
        </p>
    </form>

    {{#if error}}
    <p style="color: red;">Please enter a unique username and password.</p>
    {{/if}}
{{> footer }}
</body>
</html>
